@model PoliceWebApplication.Models.ViewModels.RegisterViewModel
<h2>Реєстрація нового користувача</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Code"></label><br />
        <input asp-for="Code" />
        <span asp-validation-for="Code"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <small id="emailHelp" class="form-text text-muted">Повинен містили велику та маленьку літери, цифру й спеціальний символ</small>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Реєстрація" />
    </div>
</form>